* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(7, 7, 7, 0.9);
  font-family: "Poppins", sans-serif;
}
#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.3);
  background-color: rgba(88, 71, 71, 0.2);
  text-align: center;
  line-height: 100px;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 7px;
  color: aliceblue;
}

.outer-box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.text {
  color: rgba(216, 216, 216, 0.8);
  font-size: 1em;
  letter-spacing: 2px;
}

@media only screen and (max-width: 750px) {
  .inner-box {
    width: 70px;
    height: 70px;
    line-height: 75px;
    font-size: 1.9em;
    font-weight: 700;
    letter-spacing: 5px;
  }

  .outer-box {
    width: 105px;
    height: 115px;
  }
  .text {
    font-size: 0.74em;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 600px) {
  .inner-box {
    width: 50px;
    height: 50px;
    line-height: 55px;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 3px;
  }

  .outer-box {
    width: 80px;
    height: 95px;
  }
  .text {
    font-size: 0.5em;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width: 444px) {
  .inner-box {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.3em;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .outer-box {
    width: 75px;
    height: 80px;
  }
  .text {
    font-size: 0.45em;
    letter-spacing: 1px;
  }
}
